Repository klowdo/bokio-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-fmt, golangci-lint, gosec-security, generate-types

.pre-commit-config.yaml:

# Pre-commit configuration for Bokio MCP Server
# This configuration integrates with the existing Makefile and respects Go 1.24 tool directives
# For NixOS users: Install pre-commit via: nix-shell -p pre-commit --run "pre-commit install"
# Or use the Nix development environment: nix develop

repos:
  # Local hooks that use existing Make targets
  - repo: local
    hooks:
      # Use existing Make target for dependencies management
      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: make deps
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false
        description: "Tidy Go module dependencies using make deps"

      # Code formatting using existing Make target
      - id: go-fmt
        name: Go Format
        entry: make format
        language: system
        files: \.go$
        pass_filenames: false
        description: "Format Go code using make format (gofmt + goimports)"

      # Linting using existing Make target with go tool golangci-lint
      - id: golangci-lint
        name: Go Lint
        entry: make lint
        language: system
        files: \.go$
        pass_filenames: false
        description: "Run golangci-lint using make lint (respects go tool directive)"

      # Security scanning using existing Make target
      - id: gosec-security
        name: Go Security
        entry: make security
        language: system
        files: \.go$
        pass_filenames: false
        description: "Run security scans using make security (govulncheck + gosec via go tool)"

      # Generate types from OpenAPI schemas (only if schema files changed)
      - id: generate-types
        name: Generate Go Types
        entry: make generate-types
        language: system
        files: ^schemas/.*\.ya?ml$
        pass_filenames: false
        description: "Regenerate Go types from OpenAPI schemas using make generate-types"

  # Standard pre-commit hooks for general file quality
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      # File quality checks
      - id: trailing-whitespace
        exclude: "^schemas/.*\\.ya?ml$"  # Don't modify downloaded schemas
      - id: end-of-file-fixer
        exclude: "^(schemas/.*\\.ya?ml$|bokio/generated/.*\\.go$)"  # Don't modify downloaded/generated files
      - id: check-yaml
        files: "\\.ya?ml$"
        exclude: "^schemas/"  # Don't check downloaded schemas (might have format issues)
      - id: check-json
        files: "\\.json$"
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']

      # Go specific checks (complementary to our make targets)
      - id: check-executables-have-shebangs
        exclude: "\\.go$"

  # Nix formatting for flake.nix
  - repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.3.0
    hooks:
      - id: nixpkgs-fmt
        files: "flake\\.nix$"
        description: "Format Nix files using nixpkgs-fmt"

  # YAML formatting (for this config file and other YAML)
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: "\\.ya?ml$"
        exclude: "^schemas/"  # Don't format downloaded API schemas
        args: ["--tab-width", "2"]

# Configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

# Exclude patterns
exclude: |
  (?x)(
    # Generated files (never modify these)
    ^bokio/generated/.*\.go$|
    # Downloaded schemas (should not be modified locally)
    ^schemas/.*\.ya?ml$|
    # Build artifacts
    ^bin/.*|
    ^dist/.*|
    # Coverage reports
    ^coverage\.html$|
    ^coverage\.out$
  )

docs: add comprehensive journal API integration test examples
  JOURNAL_INTEGRATION_TEST.md
  journal_integration_test.go
  scripts/run-journal-integration-test.sh
Due: go-fmt, golangci-lint, gosec-security

ci: fix GitHub Actions to use Go 1.24 and tool directives
  .github/workflows/ci.yml
Due: none

fix: configure .envrc to load .env file with direnv
  .envrc
Due: none

fix: resolve test execution issues for Go 1.24 compatibility
  Makefile
  tools/customers.go
Due: go-fmt, golangci-lint, gosec-security

refactor: migrate to pure generated API clients from OpenAPI schemas
  Makefile
  bokio/auth_client.go
  bokio/client.go
  bokio/types.go
  coverage.html
  examples/README.md
  examples/list_journal_entries.go
  examples/run_example.sh
  flake.nix
  go.mod
  go.sum
  journal_integration_test.go.disabled
  main.go
  tools/auth.go.disabled
  tools/customers.go.disabled
  tools/generated_journal.go
  tools/invoices.go.disabled
  tools/journal.go.disabled
  tools/uploads.go.disabled
Due: go-mod-tidy, go-fmt, golangci-lint, gosec-security

chore(go): update mod
  go.mod
  go.sum
Due: go-mod-tidy

feat(client): add generated code
  .gitignore
  bokio/generated/company/client.go
  bokio/generated/company/types.go
  bokio/generated/company_client.go
  bokio/generated/company_types.go
  bokio/generated/general/client.go
  bokio/generated/general/types.go
Due: none

build: implement default package with buildGoModule in Nix flake
  coverage.html
  flake.nix
Due: none

feat(api): update code gen
  bokio/generated/company/client.go
  bokio/generated/company/types.go
  bokio/generated/company_client.go
  bokio/generated/company_types.go
  bokio/generated/doc.go
  bokio/generated/general/client.go
  bokio/generated/general/types.go
Due: none

feat: implement customer management tools with generated clients
  .claude/agents/golang-developer.md
  .env.example
  .github/dependabot.yml
  .github/workflows/auto-merge.yml
  .github/workflows/deps.yml
  .github/workflows/release.yml
  .github/workflows/update-schema.yml
  .gitignore
  .mcp.json
  .pre-commit-config.yaml
  API_COVERAGE_PLAN.md
  CLAUDE.md
  Dockerfile
  JOURNAL_INTEGRATION_TEST.md
  Makefile
  PROGRESS.md
  README.md
  bokio/auth_client.go
  main.go
  scripts/run-journal-integration-test.sh
  tools/customers.go
  tools/generated_journal.go
Due: go-fmt, golangci-lint, gosec-security

docs: update pre-commit installation instructions for nix develop
  .pre-commit-config.yaml
Due: none

feat: implement file upload tools for Bokio MCP server
  main.go
  tools/uploads.go
Due: go-fmt, golangci-lint, gosec-security

fix: implement proper Go tool installation for CI system
  Makefile
Due: none

fix: resolve CI workflow failures
  .github/workflows/ci.yml
  README.md
  examples/README.md
Due: none

fix: format all markdown files with prettier
  .claude/agents/golang-developer.md
  API_COVERAGE_PLAN.md
  CLAUDE.md
  JOURNAL_INTEGRATION_TEST.md
  PROGRESS.md
  README.md
Due: none

fix: remove leading empty line from .mcp.json
  .mcp.json
Due: none

fix: add missing JSON marshaling methods for union types to resolve SA9005 staticcheck warnings
  bokio/generated/company/types.go
Due: none

feat: implement basic test infrastructure to enable CI coverage reporting
  .claude/agents/config-consolidator.md
  .claude/agents/go-quality-fixer.md
  .claude/agents/go-test-engineer.md
  .pre-commit-config.yaml
  Makefile
  bokio/auth_client_test.go
  flake.nix
  main_test.go
  testutil/testutil.go
  testutil/testutil_test.go
  tools/customers_test.go
  tools/readonly_test.go
Due: go-fmt, golangci-lint, gosec-security

chore: update go.mod dependencies
  go.mod
Due: go-mod-tidy

fix: format test files and resolve git-hooks formatting issues
  bokio/auth_client_test.go
  bokio/generated/doc.go
  main_test.go
  testutil/testutil.go
  testutil/testutil_test.go
  tools/customers_test.go
  tools/readonly_test.go
Due: go-fmt, golangci-lint, gosec-security

fix: temporarily disable prettier in git-hooks to resolve CI Nix Build issues
  flake.nix
Due: none

chore: update API schemas and generated types
  pr_body.md
  schemas_backup/company-api.yaml
  schemas_backup/general-api.yaml
Due: none

chore: update API schemas and generated types
  schemas/company-api.yaml
  schemas/general-api.yaml
Due: none
