Repository klowdo/bokio-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-fmt, golangci-lint, gosec-security, generate-types

go-mod-tidy:
  name: Go Mod Tidy
  entry: make deps
  language: system
  pass_filenames: false
  description: Tidy Go module dependencies using make deps

go-fmt:
  name: Go Format
  entry: make format
  language: system
  pass_filenames: false
  description: Format Go code using make format (gofmt + goimports)

golangci-lint:
  name: Go Lint
  entry: make lint
  language: system
  pass_filenames: false
  description: Run golangci-lint using make lint (respects go tool directive)

gosec-security:
  name: Go Security
  entry: make security
  language: system
  pass_filenames: false
  description: Run security scans using make security (govulncheck + gosec via go tool)

generate-types:
  name: Generate Go Types
  entry: make generate-types
  language: system
  pass_filenames: false
  description: Regenerate Go types from OpenAPI schemas using make generate-types

chore: update API schemas and generated types
  schemas/company-api.yaml
  schemas/general-api.yaml
Due: none

chore: update API schemas and generated types
  schemas/company-api.yaml
Due: none

build: ignore .worktrees directory
  .gitignore
Due: none

build: upgrade Go to 1.26
  .claude/agents/go-quality-fixer.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update-schema.yml
  CLAUDE.md
  JOURNAL_INTEGRATION_TEST.md
  Makefile
  flake.lock
  flake.nix
  go.mod
  scripts/run-journal-integration-test.sh
Due: go-mod-tidy

fix: send oneOf request bodies via WithBody to avoid empty payloads
  tools/invoices.go
  tools/items.go
Due: go-fmt, golangci-lint, gosec-security

build: gitignore git-hooks.nix generated .pre-commit-config.yaml
  .gitignore
Due: none

build: make codegen portable across CI runners
  bokio/generated/doc.go
  schemas/company-api.yaml
Due: none

schema: update Bokio API specifications to latest version
  schemas/company-api.yaml
Due: none

fix: adapt customer contactDetails to optional Id field
  tools/customers.go
Due: go-fmt, golangci-lint, gosec-security

gen: regenerate types and clients from updated schemas
  bokio/generated/company/client.go
  bokio/generated/company/types.go
  bokio/generated/general/client.go
  bokio/generated/general/types.go
Due: none

build: migrate to oapi-codegen v2 and fix go generate pipeline
  bokio/generated/doc.go
  go.mod
  go.sum
Due: go-mod-tidy

build: bump toolchain to go1.26.4 to clear stdlib vulnerabilities
  go.mod
Due: go-mod-tidy

build: update Nix vendorHash for oapi-codegen v2 dependencies
  flake.nix
Due: none

feat: upgrade modelcontextprotocol/go-sdk to v1.4.1 and migrate tool API
  flake.nix
  go.mod
  go.sum
  main.go
  tools/customers.go
  tools/generated_journal.go
  tools/invoices.go
  tools/items.go
  tools/uploads.go
Due: go-mod-tidy, go-fmt, golangci-lint, gosec-security

ci: lint via go tool instead of prebuilt golangci-lint binary
  .github/workflows/ci.yml
Due: none

ci: manage golangci-lint version via .tool-versions and action@v9
  .github/workflows/ci.yml
  .tool-versions
Due: none

style: satisfy golangci-lint v2 errcheck and staticcheck
  bokio/auth_client_test.go
  examples/list_journal_entries.go
  testutil/testutil_test.go
  tools/items.go
Due: go-fmt, golangci-lint, gosec-security

chore(codgraph): init
  .codegraph/.gitignore
Due: none

ci: add golangci-lint v2 config restoring std-error-handling exclusions
  .golangci.yml
Due: none

build: add golint.sh lint runner and wire make lint to it
  Makefile
  scripts/golint.sh
Due: none

ci: exclude generated code from gosec SARIF scan
  .github/workflows/ci.yml
Due: none

docs: bump Go prerequisite to 1.26 in README
  README.md
Due: none

build: add vendorHash update script and Renovate companion workflow
  .github/workflows/nix-vendor-hash.yml
  scripts/update-nix-hash.sh
Due: none

build: add release-please for versioned releases
  .github/workflows/release-please.yml
  .release-please-manifest.json
  flake.nix
  main.go
  release-please-config.json
Due: go-fmt, golangci-lint, gosec-security

ci: run nix vendorHash check only on releases, not PRs
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore: update API schemas and generated types
  bokio/generated/company/client.go
  bokio/generated/company/types.go
  schemas/company-api.yaml
Due: none

fix: remove interface{} fields that produce untyped tool schemas
  tools/customers.go
  tools/customers_test.go
  tools/generated_journal.go
  tools/invoices.go
  tools/items.go
  tools/schema_test.go
  tools/uploads.go
Due: go-fmt, golangci-lint, gosec-security

docs: replace OAuth env vars with the private integration token
  .env.example
Due: none

fix: target Bokio API v1 base URL
  .env.example
  README.md
  bokio/auth_client.go
  bokio/auth_client_test.go
  main_test.go
  testutil/testutil.go
  testutil/testutil_test.go
  tools/readonly_test.go
  tools/schema_test.go
Due: go-fmt, golangci-lint, gosec-security

fix: return real tool output instead of empty result structs
  tools/customers.go
  tools/customers_test.go
  tools/generated_journal.go
  tools/invoices.go
  tools/items.go
  tools/uploads.go
Due: go-fmt, golangci-lint, gosec-security

feat: add invoice payment and settlement tools
  main.go
  tools/payments.go
Due: go-fmt, golangci-lint, gosec-security

docs: replace OAuth2 setup with integration token auth
  README.md
Due: none

Path conditions:
  go-mod-tidy: any of: ^go\.(mod|sum)$, but not: (?x)(
  # Generated files (never modify these)
  ^bokio/generated/.*\.go$|
  # Downloaded schemas (should not be modified locally)
  ^schemas/.*\.ya?ml$|
  # Build artifacts
  ^bin/.*|
  ^dist/.*|
  # Coverage reports
  ^coverage\.html$|
  ^coverage\.out$
)

  go-fmt: any of: \.go$, but not: (?x)(
  # Generated files (never modify these)
  ^bokio/generated/.*\.go$|
  # Downloaded schemas (should not be modified locally)
  ^schemas/.*\.ya?ml$|
  # Build artifacts
  ^bin/.*|
  ^dist/.*|
  # Coverage reports
  ^coverage\.html$|
  ^coverage\.out$
)

  golangci-lint: any of: \.go$, but not: (?x)(
  # Generated files (never modify these)
  ^bokio/generated/.*\.go$|
  # Downloaded schemas (should not be modified locally)
  ^schemas/.*\.ya?ml$|
  # Build artifacts
  ^bin/.*|
  ^dist/.*|
  # Coverage reports
  ^coverage\.html$|
  ^coverage\.out$
)

  gosec-security: any of: \.go$, but not: (?x)(
  # Generated files (never modify these)
  ^bokio/generated/.*\.go$|
  # Downloaded schemas (should not be modified locally)
  ^schemas/.*\.ya?ml$|
  # Build artifacts
  ^bin/.*|
  ^dist/.*|
  # Coverage reports
  ^coverage\.html$|
  ^coverage\.out$
)

  generate-types: any of: ^schemas/.*\.ya?ml$, but not: (?x)(
  # Generated files (never modify these)
  ^bokio/generated/.*\.go$|
  # Downloaded schemas (should not be modified locally)
  ^schemas/.*\.ya?ml$|
  # Build artifacts
  ^bin/.*|
  ^dist/.*|
  # Coverage reports
  ^coverage\.html$|
  ^coverage\.out$
)

